<footer class="py-4">
    <div class="container">
        <hr>

        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0">&copy; 2025 Laugh Shop. All rights reserved. Icons by <a href="https://fontawesome.com/" target="_blank" rel="noopener">FontAwesome</a>.</p>
            </div>
            
            <div class="col-md-6 text-center text-md-end">
                <a href="#" class="me-3"><i class="fab fa-facebook fa-lg"></i></a>
                <a href="#" class="me-3"><i class="fab fa-twitter fa-lg"></i></a>
                <a href="#" class="me-3"><i class="fab fa-instagram fa-lg"></i></a>
            </div>
            <p></p>
        </div>
    </div>
</footer>
    