<main>
    <div class="container mt-5">
        <h1 class="text-center mb-4">All Products</h1>
        <div class="row" id="products-grid">
        </div>
    </div>
</main>
<script src="custom-js/productsCommon.js"></script>
<script src="custom-js/products.js"></script>
{{!-- <script src="custom-js/shop.js"></script>  --}}